<meta charset="UTF-8">
<title>QuLingFeng</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
	.jumbotron
	{   
		padding-top: 0px;
		padding-bottom:0px;
		background-size: cover;
		height:560px;
	}
</style>