<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<br>
			<h3>MV Report</h3>
			<p>
				他头戴大礼帽，身穿长风衣，围着白围巾，他的眼神会说话，他笑时的露出迷人的酒窝。<br>他不时从上衣的口袋里掏出洁白的手绢擦擦鼻子。<br>
				<br>
				发哥演许文强，以后的人演发哥。<br>
				<br>
				发哥之后再无许文强。<br>
			</p>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>