<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<p>Welcome to appreciate our movie</p>
			<div class="embed-responsive embed-responsive-16by9">
				<video  width="1000" height="500" controls>
					<source src="http://localhost:3000/movieA" type="video/mp4">
					</video>
				</div>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>